
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-color: #f5f1ea;
}

/* NAVBAR */

.navbar{
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    padding: 15px 0;
}

.navbar-brand{
    font-size: 25px;
}

.nav-link{
    color: white !important;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #d7b899 !important;
}

/* HERO */

.hero{

    min-height: 100vh;

    display: flex;

    align-items: center;

    color: white;

    background-image:

    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
    ),

    url('../img/bg.jpeg');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}

.hero-tag{

    background-color: rgba(255,255,255,0.2);

    padding: 10px 20px;

    border-radius: 30px;

    font-size: 14px;
}

.hero-title{

    font-size: 65px;

    font-weight: bold;

    line-height: 1.2;
}

.hero-text{

    font-size: 18px;

    line-height: 1.8;

    max-width: 600px;
}

/* BUTTON */

.btn-coffee{

    background-color: #6f4e37;

    color: white;

    padding: 14px 30px;

    border-radius: 12px;

    border: none;

    transition: 0.3s;
}

.btn-coffee:hover{

    background-color: #8b5e3c;

    color: white;

    transform: translateY(-3px);
}

/* PRODUCT */

.product-section{

    padding: 100px 0;
}

.product-card{

    border: none;

    border-radius: 25px;

    overflow: hidden;

    transition: 0.4s;
}

.product-card:hover{

    transform: translateY(-10px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.product-img{

    height: 280px;

    object-fit: cover;
}

/* FOOTER */

.footer{

    background-color: #2b1d16;

    color: white;

    text-align: center;

    padding: 30px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero-title{

        font-size: 40px;
    }

    .hero-text{

        font-size: 16px;
    }

}